* {
  box-sizing: border-box;
}

html {
  font-family: "tbcinergothic-std", sans-serif;
}

html, body {
  width: 100%;
  margin: 0;
}

body {
  background-color: #f8f6f2;
}

header {
  width: 100%;
  padding: 100px 20px 120px;
  background: linear-gradient(#ffc400, #ff9900);
  text-align: center;
  color: #774700;
}

header h1 {
  margin: 0;
}

header h1 + p {
  margin: 0;
  opacity: .6;
}

main {
  background-color: #fefefe;
  width: 90%;
  max-width: 1200px;
  min-width: 350px;
  margin: 0 auto;
  margin-top: -50px;
  padding: 20px;
  position: relative;
  border-radius: 2px;
  transform-style: preserve-3d;
  -webkit-perspective: 3000;
}

main:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #072d72;
  width: 100%;
  height: 100px;
  border-radius: 2px;
  box-shadow: 0 0 10px 6px rgba(119, 71, 0, 0.4);
  transform: translate(-50%, 0) translateZ(-30px) rotateX(-20deg);
}

main > section {
  width: 100%;
}

main > section h2 {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

div.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

div.container div.item {
  min-width: 250px;
  flex-grow: 1;
  width: 30%;
  margin: 10px;
}

div.container div.item section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 10px;
  padding: 10px;
  border: solid 1px #dfdfdf;
  height: 200px;
  text-align: center;
  position: relative;
}

div.container div.item section h3 {
  position: absolute;
  top: 0;
  left: 10px;
  color: #636363;
  margin: 0;
  font-size: 16px;
  transform: translateY(-8px);
  padding: 0 10px;
  background-color: #fefefe;
  line-height: 15px;
}

div.container div.item section a {
  transition: 600ms;
  color: #ff9900;
}

div.container div.item .link_huwa a:hover {
  transform: translateY(-4px);
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

div.container div.item .link_boyoyon a:hover {
  animation: link_boyoyon 600ms;
}

@keyframes link_boyoyon {
  30% {
    transform: scaleX(1.9) scaleY(0.4) translateY(50%);
  }
}
