@charset "UTF-8";

$theme-main-bg: #ffc400;
$theme-main-anchor: #ff9900;
$theme-gradation: linear-gradient($theme-main-bg, $theme-main-anchor);
$thema-main-text: #774700;
$thema-main-border: #4b2e02;

* {
  box-sizing: border-box;
}

html {
  font-family: "tbcinergothic-std", sans-serif;
}

html, body {
  width: 100%;
  margin: 0;
}

body {
  background-color: #f8f6f2;
}

header {
  width: 100%;
  padding: 100px 20px 120px;
  background: $theme-gradation;
  text-align: center;
  color: $thema-main-text;

  h1 {
    margin: 0;

    + p {
      margin: 0;
      opacity: .6;
    }
  }
}

main {
  background-color: #fefefe;
  width: 90%;
  max-width: 1200px;
  min-width: 350px;
  margin: 0 auto;
  margin-top: -50px;
  padding: 20px;
  position: relative;
  border-radius: 2px;
  transform-style: preserve-3d;
  perspective: 3000px;


  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #072d72;
    width: 100%;
    height: 100px;
    border-radius: 2px;
    box-shadow: 0 0 10px 6px rgba(119, 71, 0, 0.4);
    transform: translate(-50%, 0) translateZ(-30px) rotateX(-20deg);
  }
  > section {
    width: 100%;

    h2 {
      margin: 0;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}

div.flexcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  div.item {
    min-width: 250px;
    flex-grow: 1;
    width: 30%;
    margin: 10px;

    section {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px 0 10px;
      padding: 10px;
      border: solid 1px #dfdfdf;
      height: 200px;
      text-align: center;
      position: relative;
      h3 {
        position: absolute;
        top: 0;
        left: 10px;
        color: #636363;
        margin: 0;
        font-size: 16px;
        transform: translateY(-8px);
        padding: 0 10px;
        background-color: #fefefe;
        line-height: 15px;
      }
      a {
        color: $theme-main-anchor;
      }
    }
  }
}

.link {
  a {
    transition: 600ms;
  }
  .huwa a {
    
    &:hover {
      transform: translateY(-4px);
      text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    }
  }

  .boyoyon a {

    &:hover {
      animation: boyoyon 600ms;
    }
    @keyframes boyoyon {
      30% { transform: scaleX(1.9) scaleY(0.4) translateY(50%) }
    }
  }

  .beko a {
    transition: initial;

    &:hover {
      animation: beko 600ms;
    }
    @keyframes beko {
      30% { transform: scale(0.5) }
      90% { transform: scale(1) }
    }
  }
}

.button {
  a {
    width: 200px;
    height: 50px;
    line-height: 48px;
    border: solid 1px $theme-main-anchor;
    text-decoration: none;
    transition: 600ms;
    
    &:before ,&:after {
      content: '';
      display: block;
      position: absolute;
      transition: 600ms;
    }
  }

  .colored a {
    &:hover {
      color: #fefefe;
      background-color: $theme-main-anchor;
    }
  }
  
  .huwa a {
    
    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }
  }
  
  .blockanime_1 a {
    position: relative;

    &:before {
      top: 0;
      left: 0;
      right: 0;
      width: 0;
      height: 100%;
      background-color: $theme-main-anchor;
      opacity: .2;
    }
    &:after {
      top: 0;
      left: 0;
      right: 0;
      width: 0;
      height: 100%;
      background-color: $theme-main-anchor;
      opacity: .2;
    }
    &:hover {
      
      &:before {
        animation: blockanime_1 1s ease 0s;
      }
      &:after {
        animation: blockanime_1 1s ease 200ms;
      }
      @keyframes blockanime_1 {
        50% {
          width: 100%;
          left: 0;
        }
        51% {
          width: 100%;
          left: initial;
        }
        100% {
          left: initial;
        }
      }
    }
  }

  .arrow_fadein a {
    position: relative;
    overflow: hidden;

    &:after {
      font-family: FontAwesome;
      content: '\f061';
      height: 100%;
      width: 48px;
      line-height: 48px;
      top: 0;
      right: 0;
      transform: translateX(100%);
      color: #fafafa;
      background-color: $theme-main-anchor;
    }
    &:hover {
      padding-right: 40px;

      &:after {
        transform: translateX(0);
      }

    }
  }

  .slash_anime a {
    position: relative;
    overflow: hidden;
    &:before, &:after {
      opacity: 0;
      width: 60px;
      height: 100px;
      top: 50%;
      background-color: $theme-main-anchor;
    }
    &:before {
      left: 0;
      transform: translate(-100%, -50%) rotate(0);
    }
    &:after {
      right: 0;
      transform: translate(100%, -50%) rotate(0);
    }
    &:hover {
      &:before, &:after {
        opacity: 1;
      }
      &:before {
        transform: translate(-50%, -50%) rotate(25deg);
      }
      &:after {
        transform: translate(50%, -50%) rotate(25deg);
      }
    }
  }
  .fadeout_fadein a {
    span {
      transition: 600s;
    }
    &:hover {
      border-color: indianred;
      span {
        @for $i from 1 through 6 {
          &:nth-of-type(#{$i}) {
            animation: fadeout_fadein 600ms ease $i*100ms both;
            display: inline-block;
          }
        }
      }
    }
    @keyframes fadeout_fadein {
      0%{transform: translateY(0)}
      50%{transform: translateY(10px);opacity: 0;color:$theme-main-anchor}
      51%{transform: translateY(-10px)}
      100%{color: indianred}
    }
  }

  .underline a {
    position: relative;
    &:after {
      bottom: 0;
      left: 0;
      right: 0;
      width: 0;
      height: 5px;
      background-color: $theme-main-anchor;
    }
    &:hover {

      &:after {
        animation: underline 800ms ease;
      }
      @keyframes underline {
        30% {
          width: 100%;
          left: 0;
        }
        69% {
          width: 100%;
          left: 0;
        }
        70% {
          width: 100%;
          left: initial;
        }
        100% {
          left: initial;
        }
      }
    }
  }
  .blend a {
    position: relative;
    background-color: #fefefe;
    &:after, &:before {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -10;
      border: solid 1px $theme-main-anchor;
    }
    &:after {
      background-color: $theme-main-anchor;
    }
    &:hover {
      background-color: #fefefe;
      &:after {
        opacity: 1;
        transform: translate(-5px, 3px);
      }
      &:before {
        opacity: 1;
        transform: translate(3px, -5px);
      }
    }
  }
}

.menu {
  a {
    text-decoration: none;
    display: inline-block;
    width: 160px;
    height: 40px;
    position: relative;
    line-height: 32px;
    transition: 300ms;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 5px;
      position: absolute;
      left: 50%;
      bottom: 0;
      background-color: $theme-main-anchor;
      transform: translate(-50%, 0);
      transition: inherit;
    }
  }
  .pyon a {
    
    &:hover {
      animation: pyontext 300ms ease-out;
      line-height: 20px;

      &:after {
        animation: pyonafter 300ms ease-out;
        height: 10px;
      }
    }
    @keyframes pyontext {
      0%{line-height: 30px;}
      40%{line-height: 15px;}
    }
    @keyframes pyonafter {
      0%{height: 5px}
      40%{height: 15px;}
    }
  }
  .recreate_x a {
    
    &:hover {
      animation: recreate_x_text 600ms ease-out forwards;

      &:after {
        animation: recreate_x 600ms ease-out forwards;
      }
    }
    @keyframes recreate_x {
      20%{width: 0; background-color: $theme-main-anchor;}
      50%{width: 0; background-color: #ff1677;}
      100%{width: 100%; background-color: #ff1677;}
    }
    @keyframes recreate_x_text {
      20%{color: $theme-main-anchor;}
      50%{color: $theme-main-anchor;}
      100%{color: #ff1677;}
    }
  }
  .mask a {
    
    &:hover {
      color: #fefefe;
      line-height: 36px;

      &:after {
        height: 100%;
        z-index: -1;
      }
    }
  }
  .slideline a {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 45%;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $theme-main-anchor;
      transform: translate(0, -50%);
      transition: 600ms;
    }
    
    &:hover {
      padding-left: 20px;

      &:before {
        left: 20px;
        width: 25px;
      }
    }
  }
  .recreate_x2 a {
    left: 0;
    transform: translate(0, 0);

    &:hover {
      &:after {
        animation: recreate_x2 600ms forwards;
      }
    }
    @keyframes recreate_x2 {
      0%{width: 100%; left: 100%; transform: translate(-100%, 0)}
      30%{width: 0; left: 100%; transform: translate(-100%, 0)}
      50%{width: 0; left: 0; transform: translate(0, 0)}
      100%{width: 100%; left: 0; transform: translate(0, 0)}
    }
  }
  .down a {

    &:hover {
      line-height: 28px;
      &:after {
        height: 2px;
        width: 30%;
      }
    }
  }
  .scaleupdown a {

    &:hover {
      animation: scaleupdown 600ms forwards;
      &:after {
        animation: scaleupdownline 500ms forwards;
      }
    }
    @keyframes scaleupdown {
      0%{transform: scale(2);}
    }
    @keyframes scaleupdownline {
      0%{
        width: 0;
      }
    }
  }
}
